/* Style Page for Pong game */

  html, body {
    height: 100%;
    margin: 0;
  }

  body {
    background: red;
    display: flex;
    align-items: center;
    justify-content: center;
  }
   
  table.th {
    padding: 3px;
    background-color: darkgreen;
    text-align: center;
  }