/* Style Page for Pong game */
/* 
Name: Christian Perry
ID: 800657821
Project 1 
  
  */


  html, body {
    height: 100%;
    margin: 0;
  }

  body {
    background: darkred;
    display: flex;
    align-items: center;
    justify-content: center;
  }
   

