/* Style Page for Pong game */

  html, body {
    height: 100%;
    margin: 0;
  }

  body {
    background: darkred;
    display: flex;
    align-items: center;
    justify-content: center;
  }
   
  table.th {
    padding: 3px;
    background-color: darkgreen;
    text-align: center;
  }

  .scoreboard1  {
    width: 200px;
    height: 200px;
    align-content: center;
    position: fixed;
    position: left 5%;

  }

  .scoreboard2 {
    width: 200px;
    height: 200px;
    align-content: center;
    position: fixed;
    position: right 5%;

  }